# nextpnr LPF written by reticle for ecp5-45f-CABGA381 (ecp5)
LOCATE COMP "clk" SITE "G2";
IOBUF PORT "clk" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST;
LOCATE COMP "rst" SITE "B2";
IOBUF PORT "rst" IO_TYPE=LVCMOS33;
LOCATE COMP "led" SITE "C1";
IOBUF PORT "led" IO_TYPE=LVCMOS33 PULLMODE=UP;
FREQUENCY PORT "clk" 25.000 MHZ;
