# nextpnr PCF written by reticle for ice40-hx1k-tq144 (ice40)
set_io clk 21
set_io rst 8
set_io -pullup no led 99
set_frequency clk 12.000
# not expressible in this format: 1 path exception(s), io standards, drive, slew
