# nextpnr LPF written by reticle for ecp5-45f-CABGA381 (ecp5)
LOCATE COMP "clk" SITE "G2";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;
LOCATE COMP "rst" SITE "B2";
IOBUF PORT "rst" IO_TYPE=LVCMOS33;
LOCATE COMP "en" SITE "C1";
IOBUF PORT "en" IO_TYPE=LVCMOS33;
LOCATE COMP "d" SITE "C2";
IOBUF PORT "d" IO_TYPE=LVCMOS33;
LOCATE COMP "q" SITE "D1";
IOBUF PORT "q" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25.000 MHZ;
