# nextpnr LPF written by reticle for ecp5-45f-CABGA381 (ecp5)
LOCATE COMP "clk" SITE "G2";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;
LOCATE COMP "we" SITE "B2";
IOBUF PORT "we" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25.000 MHZ;
